In [2]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [5]:
# Módulo
from sqlalchemy import create_engine

In [6]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
# definir as credenciais
import pymysql
import urllib.parse
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'
database = 'projetodiario1'
# criar uma url de conexão 
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL 
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros 
df_alunos.head()

   id        ra  Nome  tempoestudo  rendafamiliar
0   1  12345678  None            0            NaN
1   2  12345679  None            0            NaN
2   3  12345680  None            0            NaN
3   4  12345681  None            0            NaN
4   5  12345682  None            0            NaN

#Quais bibliotescas um cientista de dados utiliza?
 - Pandas
 - Numpy
 - Fundamentos de IA (Scikit-Learn)

- Material Didátivo 
- Pandas e NumPy (Notebook)
- Scikit-Learn : elaboração de modelos de IA
- NumPy: Matemática 

05/08/2024

- Carregar dados (ok)

- Salvar um dataframe

In [8]:
csv_filename = 'aluno.csv'
df_alunos.to_csv(csv_filename,index=False)

# Eu salveio o dataframe!

# Salve o Dataframe no formato JSON

In [9]:
json_filename = 'aluno.json'
df_alunos.to_json(json_filename,index=False)

In [10]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
csv_filename = 'planilha_alunos.xlsx'
df_alunos.to_excel(csv_filename,index=False)

In [12]:
df_alunos.columns

Index(['id', 'ra', 'Nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [15]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda

    tempoestudo  rendafamiliar
0             0            NaN
1             0            NaN
2             0            NaN
3             0            NaN
4             0            NaN
..          ...            ...
87           18       117000.0
88           19       119000.0
89           17       121000.0
90           20       123000.0
91           16       125000.0

[92 rows x 2 columns]

# Tipos

In [17]:
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

Crie um recurso para mostrar apenas uma coluna. Mostre qual o tipo desse recurso

In [19]:
serie_tempo_renda = df_tempo_renda['rendafamiliar']
type(serie_tempo_renda)

pandas.core.series.Series