In [3]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [6]:
# Módulo
from sqlalchemy import create_engine

In [7]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# definir as credenciais
import pymysql
import urllib.parse
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'
database = 'projetodiario1'
# criar uma url de conexão 
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL 
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros 
df_alunos.head()

   id        ra  Nome  tempoestudo  rendafamiliar
0   1  12345678  None            0            NaN
1   2  12345679  None            0            NaN
2   3  12345680  None            0            NaN
3   4  12345681  None            0            NaN
4   5  12345682  None            0            NaN

#Quais bibliotescas um cientista de dados utiliza?
 - Pandas
 - Numpy
 - Fundamentos de IA (Scikit-Learn)

- Material Didátivo 
- Pandas e NumPy (Notebook)
- Scikit-Learn : elaboração de modelos de IA
- NumPy: Matemática 

05/08/2024

- Carregar dados (ok)

- Salvar um dataframe

In [9]:
csv_filename = 'aluno.csv'
df_alunos.to_csv(csv_filename,index=False)

# Eu salveio o dataframe!

# Salve o Dataframe no formato JSON

In [10]:
json_filename = 'aluno.json'
df_alunos.to_json(json_filename,index=False)

In [11]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\ead\desktop\tarde_exercicio_jp\.venv\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
csv_filename = 'planilha_alunos.xlsx'
df_alunos.to_excel(csv_filename,index=False)

In [13]:
df_alunos.columns

Index(['id', 'ra', 'Nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [14]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda

    tempoestudo  rendafamiliar
0             0            NaN
1             0            NaN
2             0            NaN
3             0            NaN
4             0            NaN
..          ...            ...
87           18       117000.0
88           19       119000.0
89           17       121000.0
90           20       123000.0
91           16       125000.0

[92 rows x 2 columns]

# Tipos

In [15]:
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

Crie um recurso para mostrar apenas uma coluna. Mostre qual o tipo desse recurso

In [16]:
serie_tempo_renda = df_tempo_renda['rendafamiliar']
type(serie_tempo_renda)

pandas.core.series.Series

Revisão Funções Básicas 
-  retorne o dataframe da ultima aula com as dias primeiras linhas como amostras

In [17]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda
df_tempo_renda.head(2)

   tempoestudo  rendafamiliar
0            0            NaN
1            0            NaN

Exercicio agora retorne as duas ultimas linhas da amostra

In [18]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda
df_tempo_renda.tail(2)

    tempoestudo  rendafamiliar
90           20       123000.0
91           16       125000.0

retorne uma tupla com número de linhas e colunas ( usa a shape)

In [19]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda
df_tempo_renda.shape

(92, 2)

Exercicio 04 retorne as informações gerasis do dataframe

In [20]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda
df_tempo_renda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tempoestudo    92 non-null     int64
 1   rendafamiliar  65 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.6 KB

retorne as colunas

In [21]:
qtde = len(df_tempo_renda)
if qtde <= 92:
    print(f"quantidade:{qtde} dentro do ideal")

quantidade:92 dentro do ideal

retorne as colunas

In [22]:
df_tempo_renda.columns

Index(['tempoestudo', 'rendafamiliar'], dtype='object')

retorne as colunas rendafamiliar  ( usar as colonas e chama o info )

In [23]:
df_tempo_renda['rendafamiliar'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 92 entries, 0 to 91
Series name: rendafamiliar
Non-Null Count  Dtype
--------------  -----
65 non-null     float64
dtypes: float64(1)
memory usage: 868.0 bytes

# Mostre os tipos com dtypes

In [24]:
df_alunos.dtypes

id                 int64
ra                object
Nome              object
tempoestudo        int64
rendafamiliar    float64
dtype: object

Describre serve para mostrar a visão stastitica

In [25]:
df_alunos.describe()

               id  tempoestudo  rendafamiliar
count   92.000000    92.000000      65.000000
mean   291.228261    10.902174   60749.230769
std    178.542087     7.751724   37943.539977
min      1.000000     0.000000    1800.000000
25%     29.750000     0.000000   27000.000000
50%    392.500000    14.000000   61000.000000
75%    415.250000    17.000000   93000.000000
max    438.000000    20.000000  125000.000000

Exercicio 8

In [26]:
query_diariobordo = 'SELECT * from diariobordo'

In [27]:
df_diariobordo = pd.read_sql(query_diariobordo,engine)

In [28]:
# separar as colunas 
df_diariobordo.head()

   id                            texto            datahora  fk_aluno_id
0   9                 a aula foi legal 2024-08-01 09:16:00           13
1  10          estou aprendendo insert 2024-08-01 09:33:00           24
2  11  estou aprendendo insert de novo 2024-08-01 09:33:00           24
3  12                 a aula foi legal 2024-08-01 09:16:00           13
4  13          estou aprendendo insert 2024-08-01 09:33:00           24

In [29]:
df_diariobordo.describe()

              id                       datahora  fk_aluno_id
count  39.000000                             39    39.000000
mean   28.000000  2024-08-01 09:27:20.000000256    20.333333
min     9.000000            2024-08-01 09:16:00    13.000000
25%    18.500000            2024-08-01 09:16:00    13.000000
50%    28.000000            2024-08-01 09:33:00    24.000000
75%    37.500000            2024-08-01 09:33:00    24.000000
max    47.000000            2024-08-01 09:33:00    24.000000
std    11.401754                            NaN     5.253236

Faça um JOIN no pandas simular ao do SQL

# fatiamento é []

In [30]:
df_diariobordo[5:10]

   id                            texto            datahora  fk_aluno_id
5  14  estou aprendendo insert de novo 2024-08-01 09:33:00           24
6  15                 a aula foi legal 2024-08-01 09:16:00           13
7  16          estou aprendendo insert 2024-08-01 09:33:00           24
8  17  estou aprendendo insert de novo 2024-08-01 09:33:00           24
9  18                 a aula foi legal 2024-08-01 09:16:00           13

vamos fazer um join?
### PASSOS PARA O MERGE 

- Use o comando merge 
- Criar uma variável - resultado. 
- pd.merge(dataframe1,dataframe2,tipo_uniao,qual chave da esq, qual chave da dir) - queremos unir 
- qual o tipo de união: how='inner'
- O parâmetro how define o tipo de join que estamos realizando. 
- inner significa que queremos um join interno, o que resulta em apenas as linhas que têm correspondencia em ambos os DataFrames

In [31]:
# Realizar o Join
resultado = pd.merge(df_diariobordo, df_alunos, how='inner',left_on='fk_aluno_id',right_on='id')

In [32]:
# Selecionar  as colunas desejadas
resultado_selecionado = resultado [['texto', 'datahora', 'ra']]

In [33]:
# Mostrar o resultado 
resultado_selecionado.head()

                             texto            datahora        ra
0                 a aula foi legal 2024-08-01 09:16:00  12345673
1          estou aprendendo insert 2024-08-01 09:33:00  12345685
2  estou aprendendo insert de novo 2024-08-01 09:33:00  12345685
3                 a aula foi legal 2024-08-01 09:16:00  12345673
4          estou aprendendo insert 2024-08-01 09:33:00  12345685

Crie uma junção do dataframe aluno com avaliação. Mostre as notas e o RA do Aluno

In [34]:
resultado = pd.merge(df_alunos,df_diariobordo,df_tempo_renda, how='now', left_on='fk_aluno_id', right_on='id')

TypeError: merge() got multiple values for argument 'how'

# web scraping ou raspagem de dados

In [ ]:
url = "https://www.uol.com.br/esporte/futebol/campeonatos/brasileirao/"
tabela_seriea = pd.read_html(url)
tabela_seriea = tabela_seriea[0]
display(tabela_seriea)

                 classificação
0               1° BotafogoBOT
1               2° FlamengoFLA
2              3° FortalezaFOR
3              4° PalmeirasPAL
4               5° CruzeiroCRU
5              6° São PauloSPA
6                  7° BahiaBAH
7              8° AthleticoCAP
8            9° Atlético-MGCAM
9   10° Red Bull BragantinoBRG
10                11° VascoVAS
11             12° CriciúmaCRI
12            13° JuventudeJUV
13               14° GrêmioGRE
14              15° VitóriaVIT
15        16° InternacionalINT
16           17° FluminenseFLU
17          18° CorinthiansCOR
18               19° CuiabáCUI
19          20° Atlético-GOACG

In [ ]:
url = "https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/"
tabela_seriea = pd.read_html(url)
tabela_seriea = tabela_seriea[0]
display(tabela_seriea)

,Times,Times.1,Times.2,Times.3,P,J,V,E,D,GP,GC,SG,%
0,1,NaN,Botafogo >>,Subiu1,43,21,13,4,4,35,20,15,68
1,2,NaN,Flamengo >>,Desceu1,40,20,12,4,4,34,20,14,66
2,3,NaN,Fortaleza >>,Subiu1,39,20,11,6,3,26,19,7,65
3,4,NaN,Palmeiras >>,Desceu1,37,21,11,4,6,28,17,11,58
4,5,NaN,Cruzeiro >>,NaN,35,20,11,2,7,29,22,7,58
5,6,NaN,SÃ£o Paulo >>,NaN,35,21,10,5,6,29,21,8,55
6,7,NaN,Bahia >>,NaN,32,21,9,5,7,29,25,4,50
7,8,NaN,Athletico-PR >>,NaN,28,19,8,4,7,22,20,2,49
8,9,NaN,AtlÃ©tico-MG >>,NaN,28,19,7,7,5,28,28,0,49
9,10,NaN,Bragantino >>,NaN,26,19,7,5,7,24,23,1,45
10,11,NaN,Vasco da Gama >>,NaN,24,20,7,3,10,22,31,-9,40
11,12,NaN,CriciÃºma >>,NaN,24,19,6,6,7,28,29,-1,42
12,13,NaN,Juventude >>,NaN,22,19,5,7,7,21,25,-4,38
13,14,NaN,GrÃªmio >>,Subiu2,21,19,6,3,10,17,22,-5,36
14,15,NaN,VitÃ³ria >>,Subiu2,21,21,6,3,12,23,32,-9,33
15,16,NaN,Internacional >>,Desceu2,21,16,5,6,5,14,14,0,43
16,17,NaN,Fluminense >>,Subiu2,20,20,5,5,10,16,24,-8,33
17,18,NaN,Corinthians >>,Desceu3,20,21,4,8,9,19,28,-9,31
18,19,NaN,CuiabÃ¡ >>,Desceu1,17,19,4,5,10,19,25,-6,29
19,20,NaN,AtlÃ©tico Goianiense >>,NaN,12,21,2,6,13,17,35,-18,19

In [40]:
url = "https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/#google_vignette"
tabela_brasileirao = pd.read_html(url)
tabela_brasileirao = tabela_brasileirao[0]
display(tabela_brasileirao)

,Times,Times.1,Times.2,Times.3,P,J,V,E,D,GP,GC,SG,%
0,1,NaN,Botafogo >>,Subiu1,43,21,13,4,4,35,20,15,68
1,2,NaN,Flamengo >>,Desceu1,40,20,12,4,4,34,20,14,66
2,3,NaN,Fortaleza >>,Subiu1,39,20,11,6,3,26,19,7,65
3,4,NaN,Palmeiras >>,Desceu1,37,21,11,4,6,28,17,11,58
4,5,NaN,Cruzeiro >>,NaN,35,20,11,2,7,29,22,7,58
5,6,NaN,SÃ£o Paulo >>,NaN,35,21,10,5,6,29,21,8,55
6,7,NaN,Bahia >>,NaN,32,21,9,5,7,29,25,4,50
7,8,NaN,Athletico-PR >>,NaN,28,19,8,4,7,22,20,2,49
8,9,NaN,AtlÃ©tico-MG >>,NaN,28,19,7,7,5,28,28,0,49
9,10,NaN,Bragantino >>,NaN,26,19,7,5,7,24,23,1,45
10,11,NaN,Vasco da Gama >>,NaN,24,20,7,3,10,22,31,-9,40
11,12,NaN,CriciÃºma >>,NaN,24,19,6,6,7,28,29,-1,42
12,13,NaN,Juventude >>,NaN,22,19,5,7,7,21,25,-4,38
13,14,NaN,GrÃªmio >>,Subiu2,21,19,6,3,10,17,22,-5,36
14,15,NaN,VitÃ³ria >>,Subiu2,21,21,6,3,12,23,32,-9,33
15,16,NaN,Internacional >>,Desceu2,21,16,5,6,5,14,14,0,43
16,17,NaN,Fluminense >>,Subiu2,20,20,5,5,10,16,24,-8,33
17,18,NaN,Corinthians >>,Desceu3,20,21,4,8,9,19,28,-9,31
18,19,NaN,CuiabÃ¡ >>,Desceu1,17,19,4,5,10,19,25,-6,29
19,20,NaN,AtlÃ©tico Goianiense >>,NaN,12,21,2,6,13,17,35,-18,19

In [41]:
tabela_brasileirao.tail()

,Times,Times.1,Times.2,Times.3,P,J,V,E,D,GP,GC,SG,%
15,16,NaN,Internacional >>,Desceu2,21,16,5,6,5,14,14,0,43
16,17,NaN,Fluminense >>,Subiu2,20,20,5,5,10,16,24,-8,33
17,18,NaN,Corinthians >>,Desceu3,20,21,4,8,9,19,28,-9,31
18,19,NaN,CuiabÃ¡ >>,Desceu1,17,19,4,5,10,19,25,-6,29
19,20,NaN,AtlÃ©tico Goianiense >>,NaN,12,21,2,6,13,17,35,-18,19

In [42]:
tabela_brasileirao.columns

Index(['Times', 'Times.1', 'Times.2', 'Times.3', 'P', 'J', 'V', 'E', 'D', 'GP',
       'GC', 'SG', '%'],
      dtype='object')

In [43]:
tabela_brasileirao['Times.2']

0                 Botafogo >>
1                 Flamengo >>
2                Fortaleza >>
3                Palmeiras >>
4                 Cruzeiro >>
5               SÃ£o Paulo >>
6                    Bahia >>
7             Athletico-PR >>
8             AtlÃ©tico-MG >>
9               Bragantino >>
10           Vasco da Gama >>
11               CriciÃºma >>
12               Juventude >>
13                 GrÃªmio >>
14                VitÃ³ria >>
15           Internacional >>
16              Fluminense >>
17             Corinthians >>
18                 CuiabÃ¡ >>
19    AtlÃ©tico Goianiense >>
Name: Times.2, dtype: object

In [44]:
tabela_brasileirao = tabela_brasileirao.drop(columns=['Times','Times.1','Times.3'])
tabela_brasileirao

                    Times.2   P   J   V  E   D  GP  GC  SG   %
0               Botafogo >>  43  21  13  4   4  35  20  15  68
1               Flamengo >>  40  20  12  4   4  34  20  14  66
2              Fortaleza >>  39  20  11  6   3  26  19   7  65
3              Palmeiras >>  37  21  11  4   6  28  17  11  58
4               Cruzeiro >>  35  20  11  2   7  29  22   7  58
5             SÃ£o Paulo >>  35  21  10  5   6  29  21   8  55
6                  Bahia >>  32  21   9  5   7  29  25   4  50
7           Athletico-PR >>  28  19   8  4   7  22  20   2  49
8           AtlÃ©tico-MG >>  28  19   7  7   5  28  28   0  49
9             Bragantino >>  26  19   7  5   7  24  23   1  45
10         Vasco da Gama >>  24  20   7  3  10  22  31  -9  40
11             CriciÃºma >>  24  19   6  6   7  28  29  -1  42
12             Juventude >>  22  19   5  7   7  21  25  -4  38
13               GrÃªmio >>  21  19   6  3  10  17  22  -5  36
14              VitÃ³ria >>  21  21   6  3  12  23  32  -9  33
15         Internacional >>  21  16   5  6   5  14  14   0  43
16            Fluminense >>  20  20   5  5  10  16  24  -8  33
17           Corinthians >>  20  21   4  8   9  19  28  -9  31
18               CuiabÃ¡ >>  17  19   4  5  10  19  25  -6  29
19  AtlÃ©tico Goianiense >>  12  21   2  6  13  17  35 -18  19

In [45]:
tabela_brasileirao[['Times.2','V']]

                    Times.2   V
0               Botafogo >>  13
1               Flamengo >>  12
2              Fortaleza >>  11
3              Palmeiras >>  11
4               Cruzeiro >>  11
5             SÃ£o Paulo >>  10
6                  Bahia >>   9
7           Athletico-PR >>   8
8           AtlÃ©tico-MG >>   7
9             Bragantino >>   7
10         Vasco da Gama >>   7
11             CriciÃºma >>   6
12             Juventude >>   5
13               GrÃªmio >>   6
14              VitÃ³ria >>   6
15         Internacional >>   5
16            Fluminense >>   5
17           Corinthians >>   4
18               CuiabÃ¡ >>   4
19  AtlÃ©tico Goianiense >>   2

In [46]:
tabela_brasileirao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Times.2  20 non-null     object
 1   P        20 non-null     int64
 2   J        20 non-null     int64
 3   V        20 non-null     int64
 4   E        20 non-null     int64
 5   D        20 non-null     int64
 6   GP       20 non-null     int64
 7   GC       20 non-null     int64
 8   SG       20 non-null     int64
 9   %        20 non-null     int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB

In [48]:
#para trazer estastistica 
tabela_brasileirao.describe()

,P,J,V,E,D,GP,GC,SG,%
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000
mean,27.25000,19.800000,7.450000,4.900000,7.450000,24.000000,24.00000,0.000000,45.350000
std,8.57705,1.239694,3.051747,1.552587,2.723678,5.973626,5.30144,8.687559,13.468384
min,12.00000,16.000000,2.000000,2.000000,3.000000,14.000000,14.00000,-18.000000,19.000000
25%,21.00000,19.000000,5.000000,4.000000,5.750000,19.000000,20.00000,-6.500000,35.250000
50%,25.00000,20.000000,7.000000,5.000000,7.000000,23.500000,23.50000,0.000000,44.000000
75%,35.00000,21.000000,10.250000,6.000000,10.000000,28.250000,28.00000,7.000000,55.750000
max,43.00000,21.000000,13.000000,8.000000,13.000000,35.000000,35.00000,15.000000,68.000000

In [52]:
tabela_brasileirao['%']

0     68
1     66
2     65
3     58
4     58
5     55
6     50
7     49
8     49
9     45
10    40
11    42
12    38
13    36
14    33
15    43
16    33
17    31
18    29
19    19
Name: %, dtype: int64

In [54]:
tabela_brasileirao['%'].mean()

np.float64(45.35)

 - Agrupar essa Coluna % com outra.

In [55]:
#Mudar o nome da tabela rename
tabela_brasileirao.rename(columns={'Times.2': 'Times'}, inplace=True)

In [56]:
tabela_brasileirao

                      Times   P   J   V  E   D  GP  GC  SG   %
0               Botafogo >>  43  21  13  4   4  35  20  15  68
1               Flamengo >>  40  20  12  4   4  34  20  14  66
2              Fortaleza >>  39  20  11  6   3  26  19   7  65
3              Palmeiras >>  37  21  11  4   6  28  17  11  58
4               Cruzeiro >>  35  20  11  2   7  29  22   7  58
5             SÃ£o Paulo >>  35  21  10  5   6  29  21   8  55
6                  Bahia >>  32  21   9  5   7  29  25   4  50
7           Athletico-PR >>  28  19   8  4   7  22  20   2  49
8           AtlÃ©tico-MG >>  28  19   7  7   5  28  28   0  49
9             Bragantino >>  26  19   7  5   7  24  23   1  45
10         Vasco da Gama >>  24  20   7  3  10  22  31  -9  40
11             CriciÃºma >>  24  19   6  6   7  28  29  -1  42
12             Juventude >>  22  19   5  7   7  21  25  -4  38
13               GrÃªmio >>  21  19   6  3  10  17  22  -5  36
14              VitÃ³ria >>  21  21   6  3  12  23  32  -9  33
15         Internacional >>  21  16   5  6   5  14  14   0  43
16            Fluminense >>  20  20   5  5  10  16  24  -8  33
17           Corinthians >>  20  21   4  8   9  19  28  -9  31
18               CuiabÃ¡ >>  17  19   4  5  10  19  25  -6  29
19  AtlÃ©tico Goianiense >>  12  21   2  6  13  17  35 -18  19

In [61]:
#replace utilizado para retirar sinais ou objetos que não são necessários e pode dizer que o sinal é vazio -- indica que é um texto e não expressão 
#regex sao espressoes regularies 
#Str indica que é uma string 
#regex indica que é 
 
tabela_brasileirao['Times'] = tabela_brasileirao['Times'].str.replace('>>', '', regex=False).str.strip()

In [62]:
tabela_brasileirao

                   Times   P   J   V  E   D  GP  GC  SG   %
0               Botafogo  43  21  13  4   4  35  20  15  68
1               Flamengo  40  20  12  4   4  34  20  14  66
2              Fortaleza  39  20  11  6   3  26  19   7  65
3              Palmeiras  37  21  11  4   6  28  17  11  58
4               Cruzeiro  35  20  11  2   7  29  22   7  58
5             SÃ£o Paulo  35  21  10  5   6  29  21   8  55
6                  Bahia  32  21   9  5   7  29  25   4  50
7           Athletico-PR  28  19   8  4   7  22  20   2  49
8           AtlÃ©tico-MG  28  19   7  7   5  28  28   0  49
9             Bragantino  26  19   7  5   7  24  23   1  45
10         Vasco da Gama  24  20   7  3  10  22  31  -9  40
11             CriciÃºma  24  19   6  6   7  28  29  -1  42
12             Juventude  22  19   5  7   7  21  25  -4  38
13               GrÃªmio  21  19   6  3  10  17  22  -5  36
14              VitÃ³ria  21  21   6  3  12  23  32  -9  33
15         Internacional  21  16   5  6   5  14  14   0  43
16            Fluminense  20  20   5  5  10  16  24  -8  33
17           Corinthians  20  21   4  8   9  19  28  -9  31
18               CuiabÃ¡  17  19   4  5  10  19  25  -6  29
19  AtlÃ©tico Goianiense  12  21   2  6  13  17  35 -18  19

In [70]:
tabela_seriea = pd.read_html(url, encoding='UTF-8')

In [71]:
#grafico_percent = tabela_brasileiro.groupby
grafico_percent = tabela_brasileirao.groupby('Times')['%'].sum().sort_values()
grafico_percent

Times
AtlÃ©tico Goianiense    19
CuiabÃ¡                 29
Corinthians             31
Fluminense              33
VitÃ³ria                33
GrÃªmio                 36
Juventude               38
Vasco da Gama           40
CriciÃºma               42
Internacional           43
Bragantino              45
Athletico-PR            49
AtlÃ©tico-MG            49
Bahia                   50
SÃ£o Paulo              55
Cruzeiro                58
Palmeiras               58
Fortaleza               65
Flamengo                66
Botafogo                68
Name: %, dtype: int64